<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hola AXA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    
    <div id="app" class="container">
        <h1>{{ titulo }}</h1>
        
        <hr>
        
        <div class="row">
            <div class="col-8">
                <input type="text" class="form-control" placeholder="Agregar producto" v-model="nuevoProducto.nombre" @keyup.enter="agregarProducto()"/>
            </div>
            <div class="col-4">
                <input type="button" class="btn btn-primary btn-block" value="Agregar" v-on:click="agregarProducto()">
            </div>
        </div>

        <hr>

        <!--<ul>
            <li v-for="p in productos" v-bind:class="{ 'comprado': p.comprado }">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" v-model="p.comprado"> {{ p.nombre }}
                    </label>
                </div>
            </li>
        </ul>-->
        <lista-productos :productos="productos"></lista-productos>
        
        <hr>
        <p>Cambiar título de mi lista</p>
        <input type="text" class="form-control" v-model="titulo">
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="componentes.js"></script>
    <script src="app.js"></script>
</body>
</html>